---
- name: "upgrade packages."
  become: true
  apt:
    upgrade: "yes"

- name: "Install nodejs"
  apt:
    update_cache: yes
    name: nodejs
    state: latest

- name: "install pm2"
  become: true
  npm:
    name: pm2
    global: yes
    production: yes
    state: present

- name: Creates directory
  file:
    path: /var/web
    state: directory    
    mode: '0777'

- name: Extract foo.tgz into /var/
  unarchive:
    src: /root/project/artifact.tar.gz
    dest: /var/web    
    mode: '0777'

- name: Install packages based on package.json using the npm
  npm:
    path: /var/web
    state: present

- name: Install npm
  shell: |
    cd /var/web
    npm install

- name: Build app
  shell: |
    cd /var/web
    node -v
    npm run build    

- name: Executing main node
  shell: |
    node /var/web/dist/main.js

